<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Formulario Portafolio</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <script src="https://cdn.tailwindcss.com"></script>


        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
     <script src="https://cdn.tailwindcss.com"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>


    </head>
    <style>
      .not-visible {
          display: none;
      }
  </style>
    <body class="bg-slate-900">
          <!-- centrar el div-->
          <div class="flex items-center justify-center h-screen bg-slate-900">
            <div style="
">

 <!---->
                    
 <div class="spinner-border text-success not-visible" id="loader" role="status">
  <span class="sr-only">Loading...</span>
</div>

<div class="card mt-4 not-visible " style="margin-bottom: -100%;width: 18rem;float: left;" id="card_div">
  <h1 class="text-success" style="text-align: center;font-weight: 600;font-size: 1.1.rem;">Informacion de github</h1>
  <img id="preview_image" class="card-img-top" src="" alt="Card">
  <div class="card-body">
    <strong><h5 class="card-title" id="title"></h5></strong>
    <p class="card-text" id="desc"></p>
</div>
</div>

<!---->



</div>
        
            <!-- tamaño del form -->    
            <div class="block p-6 rounded-lg shadow-lg bg-white max-w-sm " style="margin-top: 200px;">
                <!-- Inicio del form -->
                
                {{error}}
                <form action="/crear/" method="post" >
                    {% csrf_token %}
                    <!-- inicio columna first_name -->  
                    <div class="form-group mb-6 ">
                      <h2 class="text-3xl  font-bold mb-5 ">Crear un nuevo proyecto</h2>
                      
                     
                       <!-- columna foto -->
                      <label class="form-label inline-block mb-2 text-gray-700 ">{{ form.foto.label}}</label>
                      <input type="url" name="foto" maxlength="400" required="" id="id_foto"  class="form-control 
                        block
                        w-full
                        px-3
                        py-1.5
                        text-base
                        font-normal
                        text-gray-700
                        bg-white bg-clip-padding
                        border border-solid border-gray-300
                        rounded
                        transition
                        ease-in-out
                        m-0
                        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="exampleInputEmail1"
                        aria-describedby="nameHelp" placeholder="Ingresa la url de la imagen del proyecto">
                    </div>
                    <!-- final columna foto -->
      
                    <!-- columna proyecto -->
                    <div class="form-group mb-6">
                      <label for="exampleInputPassword1" class="form-label inline-block mb-2 text-gray-700">{{ form.project_name.label}}</label>
                      <input type="text" name="project_name" maxlength="50" required="" id="id_project_name" class="form-control block
                        w-full
                        px-3
                        py-1.5
                        text-base
                        font-normal
                        text-gray-700
                        bg-white bg-clip-padding
                        border border-solid border-gray-300
                        rounded
                        transition
                        ease-in-out
                        m-0
                        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" 
                        placeholder="Ingresa el nombre del proyecto">
                    </div>
                    <!-- final columna proyecto -->
      
                    <!-- columna description -->
                    <div class="form-group mb-6">
                      <label for="exampleInputPassword1" class="form-label inline-block mb-2 text-gray-700">{{ form.description.label}}</label>
                      <input type="text" name="description" maxlength="500" required="" id="id_description" class="form-control block w-full px-3
                        py-1.5
                        text-base
                        font-normal
                        text-gray-700
                        bg-white bg-clip-padding
                        border border-solid border-gray-300
                        rounded
                        transition
                        ease-in-out
                        m-0
                        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" 
                        placeholder="Ingresa la descripcion del proyecto">
                    </div>
                    <!-- final columna description -->
  
  
                     <!-- columna url -->
                     <div class="form-group mb-6">
                      <label for="id_github" class="form-label inline-block mb-2 text-gray-700">{{ form.github.label}}</label>
                      <input type="url" name="github" maxlength="450" required="" id="id_github" class="form-control block w-full px-3
                        py-1.5
                        text-base
                        font-normal
                        text-gray-700
                        bg-white bg-clip-padding
                        border border-solid border-gray-300
                        rounded
                        transition
                        ease-in-out
                        m-0
                        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" 
                        placeholder=" Ingresa url de github del proyecto">
                    </div>
                    <!-- final columna url -->
  
  
  
                      <!-- columna tags -->
                      <div class="form-group mb-6">
                          <label for="exampleInputPassword1" class="form-label inline-block mb-2 text-gray-700">{{ form.tags.label}}</label>
                          <input type="text" name="tags" maxlength="100" required="" id="id_tags" class="form-control block w-full px-3
                            py-1.5
                            text-base
                            font-normal
                            text-gray-700
                            bg-white bg-clip-padding
                            border border-solid border-gray-300
                            rounded
                            transition
                            ease-in-out
                            m-0
                            focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" 
                            placeholder="Lenguajes de programacion usados">
                        </div>
                        <!-- final columna tags -->
      
                         
                      
                   
                  <!-- inicio boton -->
                  <button type="submit" class="
                    px-6
                    py-2.5
                    bg-blue-600
                    text-white
                    font-medium
                    text-xs
                    leading-tight
                    uppercase
                    rounded
                    shadow-md
                    hover:bg-blue-700 hover:shadow-lg
                    focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
                    active:bg-blue-800 active:shadow-lg
                    transition
                    duration-150
                    ease-in-out">
                    Guardar
                  </button>
                
                    <!-- final boton -->
    
                </form>

                
          </div>
      
                <!-- fin del form -->
              </div>
              <!-- fin del div tamaño del form -->    
            </div>


      
      
<script>

  title = document.getElementById('title');
  desc = document.getElementById('desc');
  image = document.getElementById('preview_image');
  link_btn = document.getElementById('link_btn');
  card = document.getElementById('card_div');
  loader = document.getElementById('loader');


  $("#id_github").focusout(function () {
      var link = $(this).val();
      console.log(link);
      $.ajax({
          url: '{% url "generate" %}',
          data: {
              'link': link
          },
          dataType: 'json',
          beforeSend: function () {
              loader.classList.remove('not-visible');
              card.classList.add('not-visible');
          },
          success: function (response) {
              card.classList.remove('not-visible');
              title.innerHTML = response.title
              desc.innerHTML = response.description
              image.src = response.image
              link_btn.href = link
              loader.classList.add('not-visible');
          },
          error: function (error) {
              console.log(error);
          },
      });
  });
</script>

            <!-- fin del centrado de todo el div -->    
            <script src="../static/assets/js/portafolio.js"></script>
        </body>
    </html>
