{% extends 'base.html' %}  
{% block title %}
<title>Registro de usuario</title>
{% endblock %}
  
{% block body_title %}
<h1 class="text-muted"></h1>
{% endblock %}

{% block content %}


<body style="background: no-repeat;background: url(../static/assets/img/fondologin.jpg);background-size: cover;">
  
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 class="text-center text-white mt-5">Registro de usuario</h2>
      <div class="card my-5">
        

        <p style="text-align: center;color: red;font-weight: 600;font-size: larger;">{{ error }}</p>
        
<form method="post" style="
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    ">
  {% csrf_token %}
  
   {% for field in form %}
   <p style="margin-top: 10px;">
      {{ field.label_tag }}<br>
      {{ field }}
      
    </p>
  {% endfor %}



  <button type="submit" class="btn btn-success">Registrar</button>
  </br>
  </br>
  <a href="/" class="btn btn-primary">Ya tengo una cuenta</a>
</form>

</div>

</div>
</div>
</div>

  



</body>
{% endblock %}
